.login-container {
  background-color: #ccffcc;
  width: 300px;
  
  margin: 100px auto;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.login-container input, .login-container button {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-container button {
  background-color: #4CAF50;
  color: white;
  border: none;
}
